.skeleton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 11px;
  background: rgba(65, 65, 65, 0.01);
  opacity: 0.9;
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 99%;
  margin-inline: auto;
}

.skeleton > div {
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-in-out;
}

.skeleton > .image {
  width: 40px;
  height: 40px;
  margin-right: 11px;
}

.skeleton > .text {
  height: 20px;
  width: calc(100% - 82px);
}

.skeleton > .close {
  margin-left: 11px;
  width: 20px;
  height: 20px;
}

@keyframes wave-lines {
  0% {
    background-position: -300px 0;
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    background-position: 300px 0;
    opacity: 0.5;
  }
}
