.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container > h1 {
  font-size: 10vw;
  letter-spacing: -2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  border-radius: 16px;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}

input:checked + .slider:before {
  background: rgba(0, 0, 0, 0.8);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
